%div.row
  %div.small-12.medium-12.large-12.columns
    %div.panel
      %div.row
        %div.small-12.medium-2.large-2.columns
          %label{for: "method"}="Method:"
          %select{id: "method", data: {bind: "options: available_method, value: method" }}
            %option{value: ""}=""
            %option{value: "GET"}="GET"
            %option{value: "POST"}="POST"
            %option{value: "PUT"}="PUT"
            %option{value: "DELETE"}="DELETE"
            %option{value: "OPTIONS"}="OPTIONS"
            %option{value: "HEAD"}="HEAD"
            %option{value: "TRACE"}="TRACE"
            %option{value: "CONNECT"}="CONNECT"

        %div.small-12.medium-10.large-10.columns
          %label{for: "address"}="Address:"
          %input{type: "text", id: "address", placeholder: "http://127.0.0.1/v1/api"}

      %div.row
        %div.small-12.medium-12.large-12.columns
          %label{for: "format"}="Mime Type:"
          %input{type: "text", id: "format", placeholder: "application/json"}

      %div.row
        %div.small-12.medium-12.large-12.columns
          %label{for: "content_sending"}="Content:"
          %textarea{id: "content_sending"}

      %div.row
        %div.small-12.medium-12.large-12.columns.text-center
          %a.button="Send"

%div.row
  %div.small-12.medium-12.large-12.columns
    %div.panel
      %div.row
        %div.small-12.medium-2.large-2.columns
          %label{for:"return_code"}="Return Code:"
          %input{readonly: true, id: "return_code", type: "text"}

        %div.small-12.medium-10.large-10.columns
          %label{for:"return_content_type"}="Content Type:"
          %input{readonly: true, id: "return_content_type", type: "text"}

      %div.row
        %div.small-12.medium-12.large-12.columns
          %label{for: "answer"}="Answer:"
          %textarea{id:"answer", readonly: true}
