%form
  %div{class: "row", data: { equalizer: ''}}
    %div.small-12.medium-6.large-6.columns
      %div{class: 'panel', data: {'equalizer-watch' => ''}}
        %h3="Input - Send"
        %br
        %div.row
          %div.small-12.medium-3.large-3.columns
            %label{for: "method"}="Method:"
            %select{id: "method",
                    data: {bind: "options: available_method, value: method" }}

          %div.small-12.medium-9.large-9.columns
            %label{for: "address"}="Address:"
            %input{type: "text", id: "address",
                   placeholder: "http://127.0.0.1/v1/api",
                   data: {bind: "value: address"}}

        %div.row
          %div.small-12.medium-12.large-12.columns
            %label{for: "format"}="Mime Type:"
            %input{type: "text", id: "format",
                   placeholder: "application/json",
                   data: {bind: "value: format"}}

        %div.row
          %div.small-12.medium-12.large-12.columns
            %label{for: "content_sending"}="Content:"
            %textarea{id: "content_sending", data:{bind: "value: content"}}

        %div.row
          %div.small-12.medium-12.large-12.columns.text-center
            %a{class: 'button', data: {bind: "click: execRest, attr: {'disabled': can_send() === false}"}}="Send"

    %div{class: 'small-12 medium-6 large-6 columns'}
      %div{class: 'panel', data: {'equalizer-watch' => ''}}
        %h3="Output - Result"
        %br
        %div.row
          %div.small-12.medium-4.large-4.columns
            %label{for:"return_code"}="Return Code:"
            %input{readonly: true, id: "return_code", type: "number",
                   data: {bind: 'value: return_code'}}

          %div.small-12.medium-8.large-8.columns
            %label{for:"return_content_type"}="Mime Type:"
            %input{readonly: true, id: "return_content_type", type: "text",
                   data: {bind: 'value: return_content_type'}}

        %div.row
          %div.small-12.medium-12.large-12.columns
            %label{for: "answer"}="Answer:"
            %textarea{id:"answer", readonly: true,
                     data: {bind: 'value: answer'}}

