!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title= "REST Client"
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{ href: "/css/normalize.css", media: "screen", rel: "stylesheet" }
    %link{ href: "/css/foundation.min.css", media: "screen", rel: "stylesheet" }
    %script{type: "text/javascript", src: "/js/vendor/modernizr.js"}
  %body

    %header
      %div.row
        %div.large-12.columns
          %h1= "REST Client"

    #content= yield

    %footer.text-center
      Copyright &copy; 2014 LINESIP under
      %a{href: "http://opensource.org/licenses/MIT"}="MIT License"

    %script{src: "/js/vendor/jquery.js"}
    %script{src: "/js/foundation.min.js"}
    %script{src: "/js/vendor/knockout-3.2.0.js"}
    %script{src: "/js/rest_client.js"}
    %script
      $(document).foundation();
