%form
  %div{class: "row", data: { equalizer: ''}}
    %div.small-12.medium-12.large-12.columns
      %div{class: 'panel', data: {'equalizer-watch' => ''}}
        %h3="Input - Send"
        %br
        %div.row
          %div.small-12.medium-3.large-3.columns
            %label{for: "method"}="Method:"
            %select{id: "method",
                    data: {bind: "options: available_method, value: method" }}

          %div.small-12.medium-9.large-9.columns
            %label{for: "address"}="Address:"
            %input{type: "text", id: "address",
                   placeholder: "http://127.0.0.1/v1/api",
                   data: {bind: "value: address"}}

        %div.row
          %div.small-12.medium-12.large-12.columns
            %label{for: "format"}="Mime Type:"
            %input{type: "text", id: "format",
                   placeholder: "application/json",
                   data: {bind: "value: format"}}

        %div.row
          %div.small-5.medium-5.large-5.columns
            %label{for: 'field_key'}="Field Key:"
            %input{id: 'field_key', type: 'text', placeholder: "key",
                   data: {bind: "value: field_key"}}

          %div.small-6.medium-6.large-6.columns
            %label{for: 'field_value'}="Field Value:"
            %input{id:'field_value', type: 'text', placeholder: 'value',
                  data: {bind: 'value: field_value'}}

          %div.small-1.medium-1.large-1.columns.text-left.has-tip.tip-top.radius{title: 'Add key and value to the list', 'data-tooltip' => ''}
            %br
            %a{class: 'tiny button',
              data: {bind:'click: add_field, attr: {"disabled": is_add_available() === false}'} }="+"

          /%div.small-1.medium-1.large-1.columns.text-right

        %div.row.text-center{data: {bind: 'visible: field_list > 0'}}
          %div.small-5.medium-5.large-5.columns
            %strong Field Keys

          %div.small-6.medium-6.large-6.columns.end
            %strong Field Values

        %div{data: {bind: 'foreach field_list'}}
          %div.row{data: {bind: 'visible: field_list.length > 0'}}
            %div.small-5.medium-5.large-5.columns
              %input{type: 'text', data: {bind: 'value: $data.key'}}

            %div.small-6.medium-6.large-6.columns
              %input{type: 'text', data: {bind: 'value: $data.value' }}

            %div.small-1.medium-1.large-1.columns.text-left
              %a{class: 'tiny alert button',
              data: {bind: 'click: remove_field, attr:{"disabled": is_remove_available() === false}'}}="-"

        %div.row
          %div.small-12.medium-12.large-12.columns
            %label{for: "content_sending"}="Content:"
            %textarea{id: "content_sending", data:{bind: "value: content"}}

        %div.row
          %div.small-12.medium-12.large-12.columns.text-center
            %a{class: 'button', data: {bind: "click: execRest, attr: {'disabled': can_send() === false}"}}="Send"

    %div{class: 'small-12 medium-12 large-12 columns'}
      %div{class: 'panel', data: {'equalizer-watch' => ''}}
        %h3="Output - Result"
        %br
        %div.row
          %div.small-6.medium-6.large-6.columns.text-center.title
            %strong="Header"
          %div.small-6.medium-6.large-6.columns.text-center.title
            %strong="Value"

        %div{data:{bind: "foreach: answer"}}
          %div.row.list
            %div.small-6.medium-6.large-6.columns
              #content{data: {bind: "text: key"}}
            %div.small-6.medium-6.large-6.columns
              %pre
                %code{data: {bind: "text: value"}}




